
/*-------------   Color Variable  --------------*/

//Colors
	$white: #ffffff;
	$black: #16161a;
	$full-black: #000000;
	$nero: #1E1E1E;
	$white-smoke: #F8F8F8;
	$gray: #878787;
	$dim-gray: #6A6A6A;

//Theme color
	$theme-color1: #D8A2FF;
	$theme-color2: #A251DC;
	$theme-color3: #FFDFBA;
	$theme-color4: #F19730;
	$theme-color5: #8BFFFC;
	$theme-color6: #2AB5B1;
	$theme-color7: #FF8ABB;
	$theme-color8: #F41172;

//Theme color
	$heading-border-color: #A85AE0;
	$heading-border-color1: #EA146F;

// btn and Section color
	$btn_bg_light: #D8A2FF; 
	$btn_bg_dark: #A252DC;
	$btn_white: #ffffff;

// Icons Color
	$pale-blue: #B7C2D5;








