@import "../../../../../assets/scss/color";

.profile-pic {
    border-radius: 50%;
    border: 1.75px solid $theme-color2;
}

.mat-toolbar {
    background: none;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        background: url(../../../../../assets/images/shape-gold.png) no-repeat;
        width: 36px;
        height: 36px;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .mat-badge-medium {
        &.mat-badge-above {
            .mat-badge-content {
                top: -5px;
                right: 0;
            }
        } 
    }
}

.mat-button {
    min-width: 42px;
}