<div class="container-fluid content-wrapper pb-5">
  <form  class="add-product" [formGroup]="myGroup"(ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumbs text-gray">
          <a routerLink="/dashboard" class="text-gray">Customers </a>
          <mat-icon>keyboard_arrow_right</mat-icon> Add Customer
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-4 d-flex align-items-center">
        <h1 class="py-2">Customers</h1>
        <div class="ml-auto py-2">
          <button type="button" mat-button class="px-0 mr-2">
            <mat-icon class="pale-blue">settings</mat-icon>
          </button>
          <button type="submit" mat-button class="purple-btn ml-auto px-5 py-2" >Save</button>
        </div>
      </div>
    </div>
    <!-- <div class="row">
          <div class="col-lg-12 pb-5 content-wrapper">
              <h1 class="mb-4">Customers</h1>
              <section class="content-box text-center px-5 py-5">
                  <img src="../../../../../assets/images/add-customer.png" alt="">
                  <h5 class="pb-3">Manage Customer Details</h5>
                  <h6 class="pb-3 text-normal line-h-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h6>
                  <button mat-button class="purple-btn px-4 py-2 mb-5" routerLink="/dashboard/products/add-product">Add Customers</button>
              </section>
          </div>
      </div> -->
    
      <div class="row d-flex pb-4">
        <div class="col-lg-6">
          <section class="content-box px-4 pt-5 pb-4">
              <h5>Customer overview</h5>
              <div class="row">
                  <div class="col-lg-6">
                      <mat-label class="font-sm text-med text-dim-gray">First Name </mat-label>
                      <mat-form-field appearance="outline" class="example-full-width" >
                      <input matInput placeholder="Enter First Name" formControlName="name">
                      </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                      <mat-label class="font-sm text-med text-dim-gray">Last Name </mat-label>
                      <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput placeholder="Enter Last Name">
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <mat-label class="font-sm text-med text-dim-gray">Email</mat-label>
                      <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput placeholder="Enter Email" formControlName="email">
                      </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                      <mat-label class="font-sm text-med text-dim-gray">Phone Number </mat-label>
                      <mat-form-field appearance="outline" class="example-full-width">
                      <input matInput placeholder="Enter Phone Number" formControlName="mobile">
                      </mat-form-field>
                  </div>
              </div>
              <h5>Notes</h5>
              <div class="row">
                  <div class="col-lg-12">
                      <mat-label class="font-sm text-med text-dim-gray">Add notes about your customer.</mat-label>
                      <mat-form-field appearance="outline" class="example-full-width">
                          <textarea matInput placeholder="Add Notes" formControlName="notes"></textarea>
                      </mat-form-field>
                  </div>
              </div>
     
            <h5>Tags</h5>
            <div class="row">
                  <div class="col-lg-12">
                      <mat-label class="font-sm text-med text-dim-gray">Tags can be used to categorize customers into groups.</mat-label>
                      <mat-form-field appearance="outline" class="example-full-width">
                          <textarea matInput formControlName="notes" placeholder="Add Tags"></textarea>
                      </mat-form-field>
                  </div>
            </div>
          </section>
        </div>
        <div class="col-lg-6">
          <section class="content-box px-4 py-5">
            <h5 class="pb-2">Address</h5>
            <div class="row">
              <div class="col-lg-6">
                  <mat-label class="font-sm text-med text-dim-gray">First Name </mat-label>
                  <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput placeholder="Enter First Name" formControlName="name">
                  </mat-form-field>
              </div>
              <div class="col-lg-6">
                  <mat-label class="font-sm text-med text-dim-gray">Last Name </mat-label>
                  <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput placeholder="Enter Last Name">
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  <mat-label class="font-sm text-med text-dim-gray">Company</mat-label>
                  <mat-form-field appearance="outline" class="example-full-width">
                  <input type="text" placeholder="Search for a company" aria-label="Number" matInput  [formControl]="control" [matAutocomplete]="auto" matAutocompletePosition="below">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let company of filteredCompany | async" [value]="company">
                      {{company}}
                    </mat-option>
                  </mat-autocomplete>
                  </mat-form-field>
              </div>
              <div class="col-lg-6">
                  <mat-label class="font-sm text-med text-dim-gray">Phone Number </mat-label>
                  <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput placeholder="Enter Phone Number" formControlName="mobile">
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <mat-label class="font-sm text-med text-dim-gray">Address</mat-label>
                  <mat-form-field appearance="outline" class="example-full-width">
                      <textarea matInput formControlName="description" placeholder="Enter Address" id="autocomplete" formControlName="address"></textarea>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  <mat-label class="font-sm text-med text-dim-gray">Low Stock Unit</mat-label>
                  <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput placeholder="Enter Low Stock Unit">
                  </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-label class="font-sm text-med text-dim-gray">State </mat-label>
                <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput placeholder="Enter State" id="state" formControlName="state">
                </mat-form-field>
            </div>
              <div class="col-lg-4">
                  <mat-label class="font-sm text-med text-dim-gray">City </mat-label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput placeholder="Enter State" id="city" formControlName="city">
                    </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  <mat-label class="font-sm text-med text-dim-gray">Country/Region</mat-label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput placeholder="Enter State" id="country" formControlName="country">
                    </mat-form-field>
              </div>
              <div class="col-lg-6">
                  <mat-label class="font-sm text-med text-dim-gray">Postal code </mat-label>
                  <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput placeholder="Enter Postal Code" id="postalcode" formControlName="zip_code">
                  </mat-form-field>
              </div>
          </div>
          </section>
        </div>
      </div>
    </form>
  </div>
  
  

  
  